{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_row(form.pid) }}
    {{ form_row(form.avatar) }}
    {{ form_row(form.signature) }}
    {{ form_row(form.active) }}
    {{ form_row(form.isVerified) }}
    <div class="mt-3">
        <button class="btn btn-sm btn-success">{{ button_label|default('Modifier') }}</button>
        <button type="reset" class="btn btn-sm btn-secondary">Annuler</button>
    </div>
{{ form_end(form) }}
