{% extends 'base.html.twig' %}

{% block title %}{{ site_url}}: Members list{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm mt-3">
            <h1>Members list</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Register date</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Active</th>
                            <th>IsVerified</th>
                            <th>actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{ member.id }}</td>
                        <td>{{ member.username }}</td>
                        <td>
                            {#{ member.roles ? member.roles|json_encode : '' }#}
                            {% if member.roles|json_encode == '["ROLE_USER"]' %}
                                <span class="text-primary fw-bold">User</span>
                            {% else %}
                                <span class="text-danger fw-bold">Admin</span>
                            {% endif %}
                        </td>
                        <td>{{ member.date ? member.date|date('Y-m-d H:i:s') : '' }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>{{ member.active ? 'Yes' : 'No' }}</td>
                            <td>{{ member.isVerified ? 'Yes' : 'No' }}</td>
                            <td>
                                <a class="btn btn-sm btn-info" href="{{ path('members_show', {'id': member.id}) }}">show</a>
                                <a class="btn btn-sm btn-warning" href="{{ path('members_edit', {'id': member.id}) }}">edit</a>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-sm btn-success" href="{{ path('members_new') }}">Create new</a>
            {% endif %}
        </div>
        {% block sidebar %}
            {{ sidebar() }}
        {% endblock %}
    </div>

{% endblock %}
