{% extends 'base.html.twig' %}

{% block title %}{{ site_url}}: {{ member.username }}{% endblock %}

{% block body %}

    <div class="row mt-3">
        <div class="col-sm-2 mt-3">
            {% if member.avatar == null %}
                <img class="img-fluid rounded float-start" src="{{ asset('img/avatars/avatar.jpg') }}" alt="{{ member.username }}">
            {% else %}
                <img class="img-fluid rounded float-start" src="{{ member.avatar }}" alt="{{ member.username }}" style="max-width: 175px;">
            {% endif %}
        </div>
        <div class="col-sm">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">Id : <span>{{ member.id }}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Nom d'utilisateur : <span>{{ member.username }}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Role: {#{ member.roles ? member.roles|json_encode : '' }#}
                    <span>
                        {% if member.roles|json_encode == '["ROLE_USER"]' %}
                            Membre
                        {% else %}
                            Admin
                        {% endif %}
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    E-mail : <span>{{ member.email }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Date d'enregistrement : <span>{{ member.date ? member.date|format_datetime('medium', 'short', '', 'Europe/Paris', locale='fr') : '' }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Pid : <span>{{ member.pid }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Signature : <span>{{ member.signature }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Actif : <span>{{ member.active ? 'Yes' : 'No' }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Compte vérifié : <span>{{ member.isVerified ? 'Yes' : 'No' }}</span>
                </li>
                <li class="list-group-item">
                    <div class="row pt-4">
                        <div class="col-sm-4 text-start">
                            <a class="btn btn-sm btn-primary" href="{{ path('members_index') }}">Liste des membres</a>
                        </div>
                        <div class="col-sm-4 text-start">
                            <a class="btn btn-sm btn-warning" href="{{ path('members_edit', {'id': member.id}) }}">Modifier mon profil</a>
                        </div>
                        <div class="col-sm-4 text-start">
                            {{ include('members/_delete_form.html.twig') }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        {% block sidebar %}
            {{ sidebar() }}
        {% endblock %}
    </div>

{% endblock %}
