{% extends 'base.html.twig' %}

{% block title %}{{ site_url}}: {{ site_slogan }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm mt-3">

        {% for torrent in torrents %}

        <div class="card border-dark mb-3">
            <div class="card-header">
                {% for cat in torrent.category %}
                    <span class="badge bg-secondary">
                        <a class="text-white text-decoration-none" href="{{ path('categories_show', {'slug': cat.slug}) }}">{{ cat.title }}</a>
                    </span>
                {% endfor %}
                {% for lic in torrent.licence %}
                    <span class="badge bg-primary">
                        <a class="text-white text-decoration-none" href="{{ path('licences_show', {'slug': lic.slug}) }}">{{ lic.title }}</a>
                    </span>
                {% endfor %}
            </div>
            <div class="card-body text-dark">
                <img src="{{ torrent.image }}" alt="{{ torrent.title }}" class="img-fluid rounded float-end mt-2 ms-3" style="max-height:125px;">
                <h4>
                    <a class="card-title text-dark text-decoration-none" href="{{ path('torrents_show', {'slug': torrent.slug}) }}">{{ torrent.title }}</a>
                </h4>
                <p class="card-text small">
                    {{ torrent.content | slice(0, 550) | raw }}...
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <i class="far fa-clock"></i> {{ torrent.date | date("F jS \\a\\t") }} {{ torrent.date | date("g:ia") }} |
                    <i class="ml-2 fas fa-user-tie"></i> {{ torrent.author }} |
                    <i class="fas fa-file-upload"></i> {{ torrent.size | readable_filesize }} |
                    {% if torrent.comments is not empty %}
                        <i class="fas fa-comment-alt"></i> {{ torrent.comments | length }} |
                    {% endif %}
                    <i class="far fa-eye"></i> {{ torrent.views }}
                </small>
            </div>
        </div>

        {% endfor %}

        <div class="pagination justify-content-center">
            {{ knp_pagination_render(torrents) }}
        </div>

    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}
</div>

{% endblock %}
