<div class="col-sm-3 mt-2 py-2 text-justify">
    <div class="border border-dark rounded py-1 px-3 d-flex justify-content-center">
        <a href="{{ path('recherche') }}" class="text-decoration-none text-dark">
            <button type="button" class="btn btn-sm btn-outline-success"><i class="fas fa-search"></i></button>
            Faire une recherche
        </a>
    </div>

    <div class="border border-dark rounded mt-3 py-1 px-3 d-flex justify-content-center">
        <a href="https://www.facebook.com/o.prieur58/"><i class="fab fa-facebook-square fa-3x mx-1" style="color:#1877f2;"></i></a>
        <a href="https://twitter.com/citizenz58"><i class="fab fa-twitter-square fa-3x mx-1" style="color:#1da1f2;"></i></a>
        <a href="https://github.com/citizenz7/ft4a-2021"><i class="fab fa-github-square fa-3x mx-1" style="color:#00405d;"></i></a>
        <a href="#"><i class="fas fa-rss-square fa-3x mx-1" style="color:orange;"></i></a>
        <a href="{{ path('contact') }}"><i class="fas fa-envelope-square fa-3x mx-1"></i></a>
    </div>

    <div class="border border-dark rounded mt-3 ">
        <h6 class="bg-light py-2 ps-3">Torrents populaires</h6>
        <ul class="list-group list-group-flush" style="font-size:0.8rem; text-align: justify;">
            {% for t in torrents %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="fw-bold">
                        <a class="card-title text-dark text-decoration-none" href="{{ path('torrents_show', {'slug': t.slug}) }}">{{ t.title | slice(0,32) }}</a>
                    </span>
                    <span class="badge rounded-pill bg-primary px-2 py-1">
                        {{ t.views }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="border border-dark rounded mt-3 ">
        <h6 class="bg-light py-2 ps-3">Derniers commentaires</h6>
        <ul class="list-group list-group-flush" style="font-size:0.8rem; text-align: justify;">
            {% for c in comments %}
            <li class="list-group-item">
                <span class="fw-bold">{{ c.title }}</span>
                <a href="{{ path('torrents_show', { 'slug': c.slug }) }}#c-{{ c.id }}" class="text-dark text-decoration-none">{{ c.content | slice(0,40) | raw }}...</a></a>,
                <span class="text-primary">par {{ c.username }}, le {{ c.date | date("d/m/Y") }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="border border-dark rounded mt-3">
        <h6 class="bg-light py-2 ps-3">Catégories</h6>
        <label class="ps-3 py-2">
            <select onchange="document.location.href = this.value" class="form-select" style="font-size:0.9rem;">
                <option selected>Sélectionnez une catégorie</option>
                {% for cat in categories %}
                <option value="{{ path('categories_show', {'slug': cat.slug}) }}">{{ cat.title }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="border border-dark rounded mt-3">
        <h6 class="bg-light py-2 ps-3">Licences</h6>
        <label class="ps-3 py-2">
            <select onchange="document.location.href = this.value" class="form-select" style="font-size:0.9rem;">
                <option selected>Sélectionnez une licence</option>
                {% for lic in licences %}
                    <option value="{{ path('licences_show', {'slug': lic.slug}) }}">{{ lic.title }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="border border-dark rounded mt-3">
        <h6 class="bg-light py-2 ps-3">Liens</h6>
        <ul class="list-group list-group-flush" style="font-size:0.9rem; text-align: justify;">
            <li class="list-group-item">
                <a href="https://www.citizenz.info" target="_blank" class="text-dark text-decoration-none">blog geek & libre : citizenz.info</a>
            </li>
        </ul>
    </div>

    <div class="border border-dark rounded mt-3">
        <h6 class="bg-light py-2 ps-3">Stats du site</h6>
        <ul class="list-group list-group-flush small">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Membres inscrits
                <span class="badge bg-dark rounded-pill px-3">
                    {{ members|length }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Inscriptions non validées
                <span class="badge bg-danger rounded-pill px-3">
                    ???
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nb de commentaires
                <span class="badge bg-success rounded-pill">{{ commentsAll | length }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nb de lectures
                <span class="badge bg-success rounded-pill">
                    {% for view in views %}
                        {{ view.viewsTotal | number_format(0, '', ' ') }}
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>

    <div class="border border-dark rounded mt-3">
        <h6 class="bg-light py-2 ps-3">Stats du tracker</h6>
        <ul class="list-group list-group-flush small">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Downloaded
                <span class="badge bg-primary rounded-pill">1245</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Peers
                <span class="badge bg-secondary rounded-pill">88</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Leech
                <span class="badge bg-danger rounded-pill">9</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Seed
                <span class="badge bg-success rounded-pill">77</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Torrents actifs
                <span class="badge bg-primary rounded-pill">55</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Torrents total
                <span class="badge bg-primary rounded-pill">60</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Download total
                <span class="badge bg-warning text-dark rounded-pill">852.21 GB</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Upload total
                <span class="badge bg-success rounded-pill">1,588.54 GB</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Trafic total
                <span class="badge bg-info text-dark rounded-pill">2,412.22 GB</span>
            </li>
        </ul>
    </div>

</div>
