{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.pid) }}
    {{ form_row(form.avatar_file) }}
    {{ form_row(form.signature) }}

    <div class="mt-3">
        <button class="btn btn-success py-2 float-end" type="submit">Modifier</button>
        <a class="btn btn-secondary py-2 me-3 float-end" href="{{ path('member_profile') }}">Annuler</a>
    </div>
{{ form_end(form) }}
