{% extends 'base.html.twig' %}

{% block title %}{{ site_url}} : Liste des catégories{% endblock %}

{% block body %}
    <h2>Liste des catégories</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Actions</th>
            <th>Supp.</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td width="75%">{{ category.title }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('categories_show', {'slug': category.slug}) }}"><i class="fas fa-eye"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-warning"href="{{ path('categories_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('categories/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Il n'y a aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-sm btn-success mt-3" href="{{ path('categories_new') }}">Ajouter une catégorie</a>
    {% endif %}
{% endblock %}
