{% extends 'base.html.twig' %}

{% block title %}{{ site_url}} : {{ category.title }}{% endblock %}

{% block body %}

        <div class="row">
            <div class="col-sm mt-3">
                <h2>Catégorie : {{ category.title }}</h2>

                Torrents dans cette catégorie :



                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-sm btn-warning" href="{{ path('categories_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i></a>
                {% endif %}
            </div>

            {% block sidebar %}
                {{ sidebar() }}
            {% endblock %}
        </div>

{% endblock %}
