<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ site_author }}">
        <title>{% block title %}{{ site_url }} : {{ site_slogan }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ asset('build/images/logo.png') }}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container py-1">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <img id="logo" src="{{ asset('build/images/logo.png') }}" alt="ft4a.fr" class="imag-fluid">.fr
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('about') }}">A propos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Torrents
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('torrents_index') }}">Liste</a></li>
                                <li><a class="dropdown-item" href="{{ path('categories_index') }}">Catégories</a></li>
                                <li><a class="dropdown-item" href="{{ path('licences_index') }}">Licences</a></li>
                                {% if app.user %}
                                    <li><a class="dropdown-item" href="{{ path('torrents_new') }}">Ajouter</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('members_index') }}">Membres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                    {% if app.user %}
                        <div class="text-white">
                            <a class="text-decoration-none badge bg-primary text-white py-1 px-2 ms-3 fs-6" href="{{ path('members_show', {'id': app.user.id}) }}">
                                Bienvenue {{ app.user.username }} !
                            </a>
                            <a href="#" class="btn btn-outline-success btn-sm text-decoration-none py-1 px-2 mx-1 lead" title="Vous avez 0 messages non lus"><i class="fas fa-comment-alt text-white"></i></a>
                            <a href="{{ path('app_logout') }}" class="text-decoration-none badge bg-danger text-white py-1 px-2 ms-3 fs-6">Déconnexion</a>
                    {% else %}
                            <a href="{{ path('app_register') }}" class="text-decoration-none badge bg-success text-white py-2 px-3 fs-6">S'enregistrer</a>
                            <a href="{{ path('app_login') }}" class="text-decoration-none badge bg-primary text-white py-2 px-3 ms-3 fs-6">Connexion</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container mt-4 pt-5 pb-3">
            <div class="row">
                <div class="col-sm mt-3">
                    {{ include('_flash.html.twig') }}
                    {% block body %}{% endblock %}
                </div>
                <div class="col-sm-3 mt-2 py-2 text-justify">
                    {{ include('sidebar/_search.block.html.twig') }}
                    {{ include('sidebar/_social_networks.block.html.twig') }}
                    {{ render(controller('App\\Controller\\HomeController::getPopularsTorrents', {'max': sidebar_populars_torrents})) }}
                    {{ render(controller('App\\Controller\\HomeController::getLastComments', {'max': sidebar_last_comments})) }}
                    {{ render(controller('App\\Controller\\HomeController::getCategories')) }}
                    {{ render(controller('App\\Controller\\HomeController::getLicences')) }}
                    {{ include('sidebar/_links.block.html.twig') }}
                    {{ render(controller('App\\Controller\\HomeController::getStatSite')) }}
                    {{ include('sidebar/_stat_tracker.block.html.twig') }}
                </div>
            </div>
        </div>

        {% block footer %}
            <footer class="mt-auto bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-white pt-3 pb-2">
                            <i class="fas fa-home"></i> <a href="{{ path('app_home') }}">Accueil</a> |
                            <i class="fas fa-info"></i> <a href="{{ path('about') }}">A propos</a> |
                            <i class="far fa-envelope"></i> <a href="#">Contact</a> |
                            <i class="fab fa-creative-commons-pd"></i> <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL v3</a>
                            <p class="copyright">
                                &copy; 2021 |
                                <a href="{{ path('admin') }}">Administration</a> | Images <a href="https://pixabay.com/" target="_blank">Pixabay</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
