{% extends 'base.html.twig' %}

{% block title %}{{ site_url}} : liste des torrents{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm mt-3">
            <h2>Liste des torrents</h2>

            <div class="table-responsive-sm">
                <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>Catégorie</th>
                            <th>Titre</th>
                            <th>Date d'upload</th>
                            <th>Taille</th>
                            <th>Uploader</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Actions</th>
                                <th>Supp.</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for torrent in torrents %}
                        <tr class="small">
                            <td>
                                {% for cat in torrent.category %}
                                    <span class="badge bg-secondary">{{ cat.title }}</span>
                                {% endfor %}
                            </td>
                            <td class="fw-bold">
                                <a class="text-decoration-none text-primary" href="{{ path('torrents_show', {'slug': torrent.slug}) }}">{{ torrent.title }}</a>
                            </td>
                            <td>{{ torrent.date |format_datetime('medium', 'short', '', 'Europe/Paris', locale='fr') }}</td>
                            <td>{{ torrent.size | readable_filesize }}</td>
                            <td>{{ torrent.author }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-sm btn-warning" href="{{ path('torrents_edit', {'id': torrent.id}) }}"><i class="fas fa-edit"></i></a>
                                </td>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    {{ include('torrents/_delete_form.html.twig') }}
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">Il n'y a aucun torrent</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="pagination justify-content-center">
                {{ knp_pagination_render(torrents) }}
            </div>

        </div>

        {% block sidebar %}
            {{ sidebar() }}
        {% endblock %}
    </div>
{% endblock %}
