{% extends 'base.html.twig' %}

{% block title %}Torrents{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm mt-3">
        <h1>{{ torrent.title }}</h1>

        <p>Hash: {{ torrent.hash }}</p>

        <p style="text-align: justify;">
            <img src="{{ torrent.image }}" alt="{{ torrent.title }}" class="img-fluid rounded float-start me-2" style="max-width:100px;">
            Content: {{ torrent.content | raw }}
        </p>
        <p>
            Size: {{ torrent.size }}
        </p>
        <br>
        Date: {{ torrent.date ? torrent.date|date('Y-m-d H:i:s') : '' }}
        <br>
        Views: {{ torrent.views }}
        <br>
        <p>
            Comments:
        </p>


        <a class="btn btn-sm btn-primary" href="{{ path('torrents_index') }}">Back to list</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-sm btn-warning" href="{{ path('torrents_edit', {'id': torrent.id}) }}">Edit</a>
            {{ include('torrents/_delete_form.html.twig') }}
        {% endif %}

    </div>
</div>

{% endblock %}
