{% extends 'base.html.twig' %}

{% block title %}{{ site_url}} : {{ torrent.title }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm mt-3">
        {% for cat in torrent.category %}
            <a class="btn btn-sm btn-warning text-decoration-none px-3 fw-bold" style="font-size: 0.75rem;" href="{{ path('categories_show', {'slug': cat.slug}) }}">
                <i class="fas fa-tags"></i> {{ cat.title }}
            </a>
        {% endfor %}
        {% for lic in torrent.licence %}
            <a class="btn btn-sm btn-primary text-decoration-none px-3 fw-bold" style="font-size: 0.75rem;" href="{{ path('categories_show', {'slug': lic.slug}) }}">
                <i class="fas fa-file-alt"></i> {{ lic.title }}
            </a>
        {% endfor %}

        <h2 class="p-2 bg-light rounded mt-2 border-top border-bottom" data-toggle="tooltip" data-placement="top" title="Torrent hash: {{ torrent.hash }}">
            {{ torrent.title }}
        </h2>

        <p style="font-size: 0.8rem;">
            <span class="badge bg-success p-2 my-1">
                Seeders: 2
            </span>
            <span class="badge bg-danger p-2 my-1">
                Leechers: 2
            </span>
            <span class="badge bg-primary p-2 my-1">
                Completed: 2
            </span>
        </p>

        <div class="mt-3 card">
            <div class="row g-0">
                <div class="col-md-3 text-center">
                    <img src="../uploads/images/torrents/{{ torrent.image }}" alt="{{ torrent.title }}" class="img-fluid mx-2 my-2 p-2" style="border-radius:20px; max-width: 250px; width: 100%;">
                </div>
                <div class="col-md-9">
                    <div class="card-body" style="text-align: justify;">
                        {{ torrent.content | raw }}
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 card mt-3">
            <a class="btn btn-outline-primary btn-lg" href="#"> <i class="fas fa-caret-right"></i> Télécharger le torrent <i class="fas fa-caret-left"></i></a>
        </div>

        <p class="mt-4 py-2 border-top border-bottom" style="font-size: 0.8rem;">
            <span class="badge bg-primary p-2 my-1">
                <i class="fas fa-calendar-alt"></i> {{ torrent.date |format_datetime('medium', 'short', '', 'Europe/Paris', locale='fr') }}
            </span>
            <span class="badge bg-primary p-2 my-1">
                <i class="fas fa-user"></i> {{ torrent.author }}
            </span>
            <span class="badge bg-primary p-2 my-1">
                <i class="fas fa-text-height"></i> Taille : {{ torrent.size | readable_filesize }}
            </span>
            <span class="badge bg-primary p-2 my-1">
                <i class="fas fa-eye"></i> Lectures : {{ torrent.views }}
            </span>
            <span class="badge bg-secondary p-2 my-1">
                <a class="text-white text-decoration-none" href="../uploads/torrentfiles/{{ torrent.torrentFile }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ torrent.torrentFile }}">Fichiers torrent</a>
            </span>
            <span class="badge bg-secondary p-2 my-1">
                <i class="fas fa-file"></i> Nb de fichiers : 2
            </span>

            <label>
                <select class="form-select" style="font-size: 0.7rem;">
                    <option value="">Fichiers du torrent</option>
                    <option value="">loremipsum-dff.mp4</option>
                    <option value="">nemedine125.nfo</option>
                </select>
            </label>
        </p>

        {% if app.user %}
            {% if (app.user.username == torrent.author) or (is_granted('ROLE_ADMIN')) %}
                <table>
                    <tr>
                        <td>
                            <a class="btn btn-sm btn-warning me-2" href="{{ path('torrents_edit', {'id': torrent.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            {{ include('torrents/_delete_form.html.twig') }}
                        </td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}

        <div class="mt-4">
            <div class="bg-light rounded card">
                <h6 class="px-3 pt-2 font-weight-bold">
                    Commentaires de l'article
                    <span class="badge bg-primary rounded mx-2">{{ torrent.comments | length }}</span>
                </h6>
            </div>

            {% if app.user %}
            <div class="mt-2 mb-4">
                <p>Vous êtes connecté(e) en tant que : {{ app.user.username }}</p>
                {{ form_start(commentForm) }}
                    {{ form_row(commentForm.content, {'label': 'Texte du commentaire', 'attr': {'placeholder': 'Votre commentaire'}}) }}
                    <button type="submit" class="btn btn-success mt-3 py-2 px-">Envoyer</button>
                    <button type="reset"  class="btn btn-secondary mt-3 py-2 px-">Annuler</button>
                {{ form_end(commentForm) }}
                <hr>
            </div>
            {% else %}
            <div class="my-3 px-3 py-3 border border-info rounded">
                Vous devez être <a href="{{ path('app_login') }}">connecté(e)</a> pour écrire un commentaire.<br>
                Pas encore de compte ? <a href="{{ path('app_register') }}">Enregistrez-vous</a> gratuitement.
            </div>
            {% endif %}

            {% for comment in torrent.comments | reverse %}
                <div id="c-{{ comment.id }}" class="row my-1 mx-1 border rounded">
                    <div class="col-2 pt-3 bg-light text-center">
                        {% if comment.author.avatar != null %}
                            <img class="img-fluid rounded" style="max-width:50px; width:100%;" src="{{ comment.author.avatar }}"
                                 alt="{{ comment.author }}">
                        {% else %}
                            <img class="img-fluid rounded" src="{{ asset('img/avatars/avatar.jpg') }}" style="max-width:50px; width:100%;" alt="{{ comment.author }}">
                        {% endif %}
                        <p style="font-size: 0.7rem; font-style: italic;">
                            <span class="fw-bold">{{ comment.author }}</span>
                            <br>
                            <span class="text-muted">{{ comment.date| date('d/m/y') }} à {{ comment.date | date('H:i') }}</span>
                        </p>
                    </div>

                    <div class="col py-2">
                        <div class="small">{{ comment.content | nl2br | raw }}</div>
                        <div class="d-flex justify-content-end">
                            {% if app.user %}
                                {% if (app.user.username == comment.author) or (is_granted('ROLE_ADMIN')) %}
                                    {{ include('comments/_delete_form.html.twig') }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}
</div>

{% endblock %}
