{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="pt-4">
        <button class="btn btn-sm btn-success">{{ button_label|default('Ajouter') }}</button>
        <button class="btn btn-sm btn-secondary" type="reset">Annuler</button>
        <a class="btn btn-sm btn-primary" href="{{ path('licences_index') }}">Retour à la liste des licences</a>
    </div>
{{ form_end(form) }}
