{% extends 'base.html.twig' %}

{% block title %}{{ site_url}}: Licences index{% endblock %}

{% block body %}
    <h1>Licences index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for licence in licences %}
            <tr>
                <td>{{ licence.id }}</td>
                <td>{{ licence.title }}</td>
                <td>{{ licence.slug }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('licences_show', {'id': licence.id}) }}">show</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('licences_edit', {'id': licence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-success" href="{{ path('licences_new') }}">Create new</a>
{% endblock %}
